:root {
    --black: #000000;
    --white: #ffffff;
    --brown: #3b1e18;
    --green: #41ad49;
    --turqize-next-btn: #9cf5e1;
    --sky-blue-btns: #55c2e8;
    --light-sky-alert-background: #cff1f7;
    --light-sky-backGround: #dff7f4;
    --shallow-sky-fields: #8dcadf;
    --grey: #707070;
    --chaki: #c1cbb9;
}

html {
    margin: 0.2rem 0,5rem 0 0.5rem;
    background-color: var(--light-sky-backGround);
    color: var(--black);
}

body {
    padding: 0.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 0 2rem 0;
    color: var(--brown);
}

    nav div {
        display: inline-blockl;
        margin: 0.2rem 0 0 0;
    }

        nav div.header {
            align-self: start;
        }

        nav div.Favicons {
            align-self: end;
        }

div.container {
    margin : auto;
    padding: 1rem;
    display: flex;
    max-width: 95%;
    flex-wrap: wrap;
}

div.container-row {
    flex-direction: column;
    justify-content: start;
    padding: 1rem;
    display: flex;
    max-width: 95%;
}

.menu-image {
    margin-left : 0;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 20%;
    flex-grow: 1;
    flex-shrink: 1;
}

div.header h2 {
    margin-top: 0;
}

img.main-photo {
    margin: auto;
    max-width: 55vh;
    max-height: 45vh;
    border-radius: 70px;
}

button {
    flex-grow: 1;
    flex-shrink: 1;
    color: var(--white);
    font-size: 1.5rem;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    padding: 1rem;
    border-radius: 25px;
    background-color: var(--sky-blue-btns);
}

fieldset {
    font-size : 0.5rem;
    margin-top: auto;
    border: none;
}
button a, a:visited, a:link {
    text-decoration-line: none;
    color: var(--white);
}

@media screen and (max-width: 1000px) {
    img.menu-image {
        width: 300px;
        height: 300px;
    }
}
