<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>



<body>

    <nav>
        <div class="header">
            <span >Zelda Ice-Cream</span>
        </div>
        <div class="Favicons">
        <span >This is navbar</span>
        </div>
    </nav>

    <div class=".body-content">
        @RenderBody()
    </div>

    <footer>
    </footer>
</body>



</html>
