<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>



<body>

    <nav>
        <div class="header">
            <h2>Zelda's Ice-Cream</h2>
        </div>
        <div class="Favicons">
        <span><img src="~/images/Home_SVG.svg" /></span>
        <span><img src="~/images/Profile_SVG.svg"/> </span>
        <span><img src="~/images/Cart_SVG.svg"/></span>
        </div>
    </nav>

    <div class=".body-content">
        @RenderBody()
    </div>
    <div class="ChangeAbleComponent">
        @await Component.InvokeAsync("IceCream");
    </div>
    <footer>
    </footer>
</body>



</html>
