@model IEnumerable<Zelda.Models.IceCream>
<div class="menu container">
    @foreach (var iceCream in Model)
    {
        <div class="flex-item">
            <img class="menu-image" src="~/images/@iceCream.ImgSrc" alt="@iceCream.Name+Pictue"/>
        </div>
    }
</div>