@model IEnumerable<Zelda.Models.IMenuItem>
<div class="menu container">
    @foreach (var menuItem in Model)
    {
        <div class="flex-item container">
            <img class="menu-image" src="~/images/@menuItem.ImgSrc" alt="@menuItem.Name+Pictue" />
        </div>
    }
</div>