@using Zelda.Controllers
@model HomeController

@{
    ViewBag.Title= "Zelda Ice-Cream";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div class="container"> 
        <div class="container">
            <img class="main-photo" src="~/images/Ice_Cream_Main.png" alt="Sapir's Ice-Cream logo'"/>
        </div>
    </div>

</body>
</html>

