@using Zelda.Controllers
@model HomeController

    <div class="container"> 
        <div class="container">
            <img class="main-photo" src="~/images/Ice_Cream_Main.png" alt="Sapir's Ice-Cream logo'"/>
        </div>
    <div class="container">
        <button>Buy Now</button>
        <button>About us</button>
    </div>
    </div>

